* {
    margin: 0;
    padding: 0;

}


/* Navbar */

nav {
    max-width: 1200px;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    width: 134px;
    height: 44px;
    object-fit: contain;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}


/* Common Button*/

.common-btn {

    display: inline-block;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    background: #0d1dfd;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.common-btn:hover {
    background: #0d1dfd;

}

/* Hero Section start */

.hero {

    height: 700px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)),
        url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero-content {
    max-width: 720px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero h1 {
    color: white;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 25px;

}

.hero h1 span {
    font-style: sans-serif;

}

.hero p {
    color: #d7d7d7;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 45px;
    max-width: 700px;

}

/* Hero Section end */

/* Speaker section start */
.speakers-section {
    padding: 60px 8%;
    background: #ffffff;
}


.speakers-section h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #111;
}

.speakers-container {

    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

}

.speaker-card {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.3s;

}

.speaker-card img {

    width: 100%;
    height: 250px;
    object-fit: cover;
}

.speaker-info {
    padding: 12px 15px;

}

.speaker-info span {

    font-size: 9px;
    font-weight: 700;
    color: #2563eb;
    text-transform: uppercase;

}

.speaker-info h3 {
    font-size: 14px;
    margin: 6px 0;
    color: #111;

}

.speaker-info p {
    font-size: 11px;
    color: #777;
    margin: 0;

}

/* Speaker section end */